Django==2.0.3
django-environ==0.4.4
django-filter==1.1.0
django-graphql-jwt==0.1.8
Faker==0.8.12
graphene==2.0.1
graphene-django==2.0.0
graphql-core==2.0
graphql-relay==0.4.5
iso8601==0.1.12
Pillow==5.0.0
promise==2.1
psycopg2==2.7.4
PyJWT==1.6.0
python-dateutil==2.7.0
pytz==2018.3
Rx==1.6.1
singledispatch==3.4.0.3
six==1.11.0
text-unidecode==1.2
typing==3.6.4
