{% load static %}
{% load staticfiles %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="portfolio by ppsmart">
    <meta name="author" content="Jakkrit S.">

    <title>Portfolio</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href={% static 'css/main.css' %} rel="stylesheet">
    <link href={% static 'css/accounts.css' %} rel="stylesheet">

    <link rel="apple-touch-icon" sizes="180x180" href={% static "favicon/apple-touch-icon.png" %}>
    <link rel="icon" type="image/png" sizes="32x32" href={% static "favicon/favicon-32x32.png" %}>
    <link rel="icon" type="image/png" sizes="16x16" href={% static "favicon/favicon-16x16.png" %}>
    <link rel="manifest" href={% static "favicon/site.webmanifest" %}>
    <link rel="mask-icon" href={% static "favicon/safari-pinned-tab.svg" %} color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
</head>

<body>

<header>
    <div class="collapse bg-primary" id="navbarHeader">
        <div class="container">
            <div class="row pb-0 mb-0">
                <div class="col-sm-4 offset-md-1 pt-4 ml-auto mb-0 pb-0">
                    <h4 class="text-white">Home</h4>
                    <ul class="list-unstyled">
                        {% if user.is_authenticated %}
                            <li><a href="javascript:{document.getElementById('logout').submit()}" class="text-white">Logout</a>
                            </li>
                            <form id="logout" method="POST" action={% url 'logout' %}>
                                {% csrf_token %}
                                <input type="hidden"/>
                            </form>
                            <li><a href="/admin" class="text-white">Admin</a></li>
                        {% else %}
                            <li><a href={% url 'signup' %} class="text-white">Sign Up</a></li>
                            <li><a href={% url 'login' %} class="text-white">Login</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="navbar navbar-light bg-primary box-shadow">
        <div class="container d-flex justify-content-between">
            <a href="#" class="navbar-brand d-flex align-items-center">
                <img id="logo_img" src={% static 'img/logo.png' %} alt="logo">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader"
                    aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>
</header>

<main role="main">
    <section class="jumbotron text-center">
        <video id="video-background" preload muted autoplay loop>
            <source src="http://www.w3schools.com/html/mov_bbb.mp4" type="video/mp4">
            <source src="http://www.w3schools.com/html/mov_bbb.ogg" type="video/ogg">
        </video>
        <div class="container">
            <h1 class="jumbotron-heading">PPSmart's PRODUCT HUNT </h1>
            </p>
        </div>
    </section>

    <div class="py-5 bg-light">
        <div class="container">
            {% block content %}
            {% endblock %}
        </div>
    </div>

</main>

<footer class="text-muted">
    <div class="container">
        <p class="float-right">
            <a href="#">Back to top</a>
        </p>
        <p>Product Hunt Web App &copy; {% now "Y" %} - PPSmart Product Co., Ltd. </p>
    </div>
</footer>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>

