#logo_img {
    max-width: 30%;
}

.portfolio {
    background-color: gainsboro;
}

.card, img {
    object-fit: cover; /*this makes de image in src fit to the size of specified below*/
    width: 100%; /* Here you can use wherever you want to specify the width and also the height of the <img>*/
    height: 60%;
}

.jumbotron{
  position: relative;
  z-index:-101;
}

#video-background {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
    width: 100%;
}

